<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headFragment" th:lang="en">
  <title th:include=":: #pageTitle">Layout Generic Title</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/semantic-ui-alert.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:src="@{/js/semantic.min.js}"></script>
  <script th:src="@{/js/default.js}"></script>
  <script th:src="@{/js/semantic-ui-alert.js}"></script>
</head>
<body>
  <div th:fragment="header(menu)" class="ui pointing menu">
    <a sec:authorize="hasAuthority('TEACHER')" th:class="(${menu == 'exercise'} ? 'active': '') +  ' item'" href="/exercise">
      Exercises
    </a>
    <a sec:authorize="hasAuthority('ADMIN')" th:class="(${menu == 'user'} ? 'active': '') +  ' item'" href="/user">
      Users
    </a>
    <a sec:authorize="hasAuthority('TEACHER')" th:class="(${menu == 'students'} ? 'active': '') +  ' item'" href="/student">
      Students
    </a>
    <a sec:authorize="hasAuthority('STUDENT')" th:class="(${menu == 'dashboard'} ? 'active': '') +  ' item'" href="/dashboard">
      Dashboard
    </a>
    <a class="item">
      <i class="mail icon"></i>
      <span class="userNotification">23</span>
    </a>
    <div class="right menu">
      <div th:if="${userContext.user}" class="ui item">
        <span th:text="${userContext.user.name}"></span>&nbsp|&nbsp<a href="/auth/logout">Log out</a>
      </div>
      <div th:unless="${userContext.user}">
        Not logged in
      </div>
    </div>
  </div>
</body>
</html>