<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headFragment" th:lang="en">
  <title th:include=":: #pageTitle">Layout Generic Title</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/semantic-ui-alert.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:src="@{/js/semantic.min.js}"></script>
  <script th:src="@{/js/default.js}"></script>
  <script th:src="@{/js/semantic-ui-alert.js}"></script>
</head>
<body>
  <div th:fragment="header(menu)" class="ui stackable menu">
    <a sec:authorize="hasAuthority('TEACHER')"
       th:class="(${menu == 'exercise'} ? 'active': '') +  ' item'"
       href="/exercise">
      <i class="book icon"></i>
      Exercises
    </a>
    <a sec:authorize="hasAuthority('ADMIN')"
       th:class="(${menu == 'user'} ? 'active': '') +  ' item'"
       href="/user">
      <i class="user icon"></i>
      Users
    </a>
    <a sec:authorize="hasAuthority('TEACHER')"
       th:class="(${menu == 'students'} ? 'active': '') +  ' item'"
       href="/student">
      <i class="graduation cap icon"></i>
      Students
    </a>
    <a th:if="${userContext.user.role.name == 'STUDENT'}"
       th:class="(${menu == 'dashboard'} ? 'active': '') +  ' item'"
       href="/dashboard">
      <i class="newspaper icon"></i>
      Dashboard
    </a>
    <a th:class="(${menu == 'notification'} ? 'active': '') +  ' item'"
       href="/notification">
      <i class="mail icon"></i>
      Notifications
      <div class="ui label userNotification">1</div>
    </a>
    <div class="right menu">
      <div th:if="${userContext.user}" class="ui item">
        <a th:text="${userContext.user.name}" href="/profile"></a>&nbsp|&nbsp<a href="/auth/logout">Log out</a>
      </div>
      <div th:unless="${userContext.user}">
        Not logged in
      </div>
    </div>
  </div>
</body>
</html>