<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment" th:lang="en">
  <title th:include=":: #pageTitle">Layout Generic Title</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script th:src="@{/js/semantic.min.js}"></script>
</head>
<body>
  <div th:fragment="header(menu)" class="ui pointing menu">
    <a th:class="(${menu} == 'exercise' ? 'active': '') +  ' item'" href="/exercise">
      Exercises
    </a>
    <a th:class="(${menu} == 'user' ? 'active': '') +  ' item'" href="/user">
      Users
    </a>
    <div class="right menu">
      <div th:if="${userContext.user}" class="ui item">
        <span th:text="${userContext.user.name}"></span>&nbsp|&nbsp<a href="/auth/logout">Log out</a>
      </div>
      <div th:unless="${userContext.user}">
        Not logged in
      </div>
    </div>
  </div>
</body>
</html>