<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Student View</title>
</head>
<body>
    <div th:replace="fragments/layout :: header('notifications')">&nbsp;</div>

    <div class="ui segment">
        <a class="ui left labeled icon button"
            th:href="${returnUrl}">
            <i class="left arrow icon"></i>
            Back
        </a>

        <h1>[[${assignedExercise.name}]]</h1>

        <div class="ui list">
            <div class="item">
                <i class="info circle icon"></i>
                <div th:if="${assignedExercise.result == null}" class="content">
                    <span class="ui orange label">To Do</span>
                </div>
                <div th:if="${assignedExercise.result != null}" class="content">
                    Status: <span class="ui green label">Done</span>
                </div>
            </div>
            <div class="item">
                <i class="calendar icon"></i>
                <div class="content">
                    Assigned: [[${#temporals.format(assignedExercise.assignedAt, 'dd MMMM yyyy')}]]
                </div>
            </div>
            <div th:if="${assignedExercise.result != null}" class="item">
                <i class="check icon"></i>
                <div class="content">
                    Exercise successful rate: <b>[[${assignedExercise.resultScore}]]%</b>
                </div>
            </div>
            <div th:if="${assignedExercise.result != null}" class="item">
                <i class="calendar check icon"></i>
                <div class="content">
                    Done: [[${#temporals.format(assignedExercise.doneAt, 'dd MMMM yyyy')}]]
                </div>
            </div>
        </div>
        <a th:if="${assignedExercise.result != null and user.role.name == 'STUDENT'}"
           class="ui red button"
           th:href="@{'/assigned-exercise/' + ${assignedExercise.id} + '/reset'}">Reset and try again</a>
    </div>
    <div th:if="${assignedExercise.result == null}" th:utext="${exercise.exerciseCode}" class="ui segment"></div>
    <div th:if="${assignedExercise.result != null}" th:utext="${assignedExercise.result}" class="ui segment"></div>

    <div class="ui segment">
        <h3 th:if="${user.role.name == 'STUDENT'}">Add your private comment or question to your supervisor:</h3>
        <h3 th:if="${user.role.name != 'STUDENT'}">Chat with the student:</h3>
        <div class="ui comments">
            <div th:each="comment: ${comments}" class="comment">
                <div class="content">
                    <a class="author" th:text="${comment.authorName}"></a>
                    <div class="metadata">
                        <div class="date" th:text="${#temporals.format(exercise.createdAt, 'dd MMMM yyyy')}"></div>
                    </div>
                    <div class="text" th:text="${comment.message}"></div>
                    <div class="actions">
                        <a class="reply deleteMessage" data-th-attr="data-message-id=${comment.id}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <form th:action="@{'/message?returnUrl=/assigned-exercise/' + ${assignedExercise.id}}" method="post" class="ui reply form">
            <div class="field">
                <textarea id="message" name="message"></textarea>
            </div>
            <input type="hidden" id="assignedExerciseId" name="assignedExerciseId" th:value="${assignedExercise.id}">
            <button class="ui primary submit labeled icon button" type="subnit">
                <i class="icon edit"></i> Add Comment
            </button>
        </form>
    </div>

    <script>
        $("#ew-check-results").text("Check");
        // Replacing the function, which is called by exercise Check button
        function showResult(score, total) {
            $("#ew-check-results").remove();
            console.log("Replaced function called " + score + "/" + total)
            let resultText = generateAnswer(score, total);

            let exerciseTag = $('.ew-exercise').parent();

            let resultHtml = exerciseTag.html();
            console.log("TEXT:\n" + resultText + "\n\nResult HTML:\n" + resultHtml);

            let assignedExerciseId = "[[${assignedExercise.id}]]";
            $.post(`/assigned-exercise/${assignedExerciseId}`,
                {
                    resultText: resultText,
                    resultHtml: resultHtml,
                    successCount: score,
                    totalCount: total
                })
                .done(function() {
                    console.log("Request is finished!");
                    location.reload();
                    document.location.href = `/assigned-exercise/${assignedExerciseId}`
                });
        }

        $(".deleteMessage").click(function () {
            let button = $(this);
            let messageId = button.attr('data-message-id');
            $.ajax({
                url: '/message/' + messageId,
                type: 'DELETE',
                success: function(result) {
                    showSuccessMessage("The message was deleted");
                    button.parent().parent().parent().remove();
                },
                error: function () {
                    showErrorMessage("Could not delete the comment!");
                }
            });
        });
    </script>
</body>
</html>