<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Exercise</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
  <div th:replace="fragments/header :: header">&nbsp;</div>
  <h1>Create Exercise</h1>
  <form method="post" th:object="${newExercise}" th:action="@{/exercise}">
    <ul>
      <li>
        <label for="name">name:</label>
        <input type="text" id="name" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errorclass="validation-error" th:errors="*{name}" ></p>
      </li>
    </ul>
    <button type="submit">Submit</button>
  </form>
  <a href="/exercise">To exercise list</a>
</body>
</html>