<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">Create Exercise</title>
</head>
<body>
  <div th:replace="fragments/layout :: header('exercise')">&nbsp;</div>

  <div class="ui segment">

    <h1 th:text="${exercise.new} ? 'New Exercise' : 'Edit Exercise'">New Exercise</h1>

    <form method="post" th:object="${exercise}" th:action="@{/exercise}" class="ui form">
      <div class="field">
        <label>Name</label>
        <input type="text" name="name" th:field="*{name}" placeholder="Exercise Name" tabindex="0">
        <p th:if="${#fields.hasErrors('name')}" th:errorclass="validation-error" th:errors="*{name}" ></p>
      </div>

      <div class="field">
        <label>Exercise Code</label>
        <textarea name="exerciseCode" th:field="*{exerciseCode}" placeholder="Insert here HTML code of exercise" tabindex="1"></textarea>
        <p th:if="${#fields.hasErrors('exerciseCode')}" th:errorclass="validation-error" th:errors="*{exerciseCode}" ></p>
      </div>

      <a class="ui button" href="/exercise">Cancel</a>

      <input type="hidden" name="id" th:field="*{id}">
      <input type="hidden" name="new" th:field="*{new}">
      <button th:text="${exercise.new} ? 'Create' : 'Update'" class="ui submit primary button">Create</button>
    </form>
  </div>
</body>
</html>