<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Exercise List</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
    <div th:text="${error}" class="validation-error"></div>
    <div id="confirmForm" style="display: none;">
        Are you sure you want to delete <span id="confirmExerciseName"></span> exercise?
        <a id="confirmBtn">delete</a>
        <a id="closeConfirmDialogBtn" href="#">cancel</a>
    </div>
    <a href="/exercise/create">Create new exercise</a>
    <ul>
        <li th:each="exercise: ${exercises}">
            <span th:text="${exercise.name}"></span>
            , created by
            <span th:text="${exercise.authorRef.userName}"></span>
            <a class="deleteExerciseBtn" href="#"
               data-th-attr="data-exercise-id=${exercise.id},data-exercise-name=${exercise.name}">
                delete
            </a>
        </li>
    </ul>

    <script>
        $('#closeConfirmDialogBtn').click(function() {
            $('#confirmForm').hide();
        });
        $('.deleteExerciseBtn').click(function () {
            $('#confirmBtn').attr('href', '/exercise/delete/' + $(this).attr('data-exercise-id'));
            $('#confirmExerciseName').text($(this).attr('data-exercise-name'));
            $('#confirmForm').show();
        });
    </script>
</body>
</html>