<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Exercise List</title>
</head>
<body>
    <div th:replace="fragments/layout :: header">&nbsp;</div>

    <div class="ui segment">
        <!-- Delete confirmation form -->
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
                Confirm
            </div>
            <div class="image content">
                <div class="description">
                    Are you sure you want to delete <span id="confirmExerciseName"></span> exercise?
                </div>
            </div>
            <div class="actions">
                <a id="closeConfirmDialogBtn" class="ui button">Cancel</a>
                <a id="confirmBtn" class="ui red button">Delete</a>
            </div>
        </div>

        <a class="ui button" href="/exercise/create" tabindex="0">
            Create new exercise
        </a>

        <table class="ui very basic collapsing celled table">
            <tbody>
                <tr th:each="exercise: ${exercises}">
                    <td>
                        <h4 class="ui image header">
                            <a th:text="${exercise.name}" th:href="@{'/exercise/view/' + ${exercise.id}}" class="content"></a>
                            <div class="sub header">Once upon a time...</div>
                        </h4>
                    </td>
                    <td>
                        <i class="user icon"></i>
                        <span th:text="${exercise.authorRef.userName}"></span>
                    </td>
                    <td>
                        <a class="ui compact blue icon button" th:href="@{'/exercise/edit/' + ${exercise.id}}"
                                data-th-attr="data-exercise-id=${exercise.id},data-exercise-name=${exercise.name}">
                            <i class="edit icon"></i>
                        </a>
                        <button class="ui compact red icon button deleteExerciseBtn"
                                data-th-attr="data-exercise-id=${exercise.id},data-exercise-name=${exercise.name}">
                            <i class="trash icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script>
        $('#closeConfirmDialogBtn').click(function() {
            $('.ui.modal').modal('hide');
        });
        $('.deleteExerciseBtn').click(function () {
            $('#confirmBtn').attr('href', '/exercise/delete/' + $(this).attr('data-exercise-id'));
            $('#confirmExerciseName').text($(this).attr('data-exercise-name'));
            $('.ui.modal').modal('show');
        });
    </script>
</body>
</html>