<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${(param.error)}" class="validation-error">
    Unable to login. Check your username and password.
</div>
<p>New here? Click
    <a th:href="@{/auth/register}">here</a> to register.</p>
<!-- tag::thAction[] -->
<form method="POST" th:action="@{/login}" id="loginForm">
    <!-- end::thAction[] -->
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" /><br/>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/><br/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>