<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Login</title>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form th:action="@{/login}" id="loginForm" method="post" class="ui large form">
                <div class="ui stacked secondary  segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <button class="ui fluid large primary submit button">Login</button>

                    <div th:if="${(param.error)}" class="ui error message visible">Unable to login. Check your username and password.</div>
                </div>
            </form>

            <div class="ui message">
                New to us? <a th:href="@{/auth/register}">Register</a>
            </div>
        </div>
    </div>
</body>
</html>