<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">Student View</title>
</head>
<body>
  <div th:replace="fragments/layout :: header('notification')">&nbsp;</div>

  <div class="ui segment">
    <h3 th:if="${#lists.isEmpty(notifications)}">No new notifications</h3>
    <div class="ui relaxed divided list">
      <div class="item" th:each="notification: ${notifications}">
        <div class="right floated content">
          <div class="ui icon button" data-content="Dismiss the notification">
            <i class="thumbs up icon"></i>
          </div>
        </div>
        <i th:if="${notification.type.name == 'EXERCISE_COMPLETED'}" class="large check middle aligned icon"></i>
        <i th:if="${notification.type.name == 'EXERCISE_COMMENTED'}" class="large comments middle aligned icon"></i>
        <i th:if="${notification.type.name == 'DIRECT_MESSAGE'}" class="large envelope middle aligned icon"></i>
        <div class="content">
          <a class="header" th:text="${notification.text}"
             th:href="@{'/assigned-exercise/' + ${notification.assignedExerciseId}}"></a>
          <div class="description" th:text="${#temporals.format(notification.timestamp, 'dd MMMM yyyy')}"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>