<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Signup</title>
</head>
<body>
<h1>Register User</h1>
<form method="post" th:object="${registerData}" th:action="@{/auth/register}">
    <label for="name">Name:</label>
    <input id="name" type="text" th:field="*{name}">
    <p th:if="${#fields.hasErrors('name')}" th:errorclass="validation-error" th:errors="*{name}" ></p>
    <br/>

    <label for="email">Email:</label>
    <input id="email" type="text" th:field="*{email}">
    <p th:if="${#fields.hasErrors('email')}" th:errorclass="validation-error" th:errors="*{email}" ></p>
    <br/>

    <label for="password">Password:</label>
    <input id="password" type="text" th:field="*{password}">
    <p th:if="${#fields.hasErrors('password')}" th:errorclass="validation-error" th:errors="*{password}" ></p>
    <br/>

    <label for="confirmPassword">Confirm password:</label>
    <input id="confirmPassword" type="text" th:field="*{confirmPassword}">
    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="validation-error" th:errors="*{confirmPassword}" ></p>
    <br/>

  <button type="submit">Sign up</button><br>
  <a href="/login">Log in</a>
</form>
</body>
</html>