<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Signup</title>
</head>
<body>


<div class="ui segment">
    <div class="ui middle aligned center aligned grid" id="login-form-grid">
        <div id="login-form" class="column">
            <h1>Sign in</h1>
            <form method="post" th:object="${registerData}" th:action="@{/auth/register}" class="ui form" >
                <div class="field">
                    <input name="name" type="text" th:field="*{name}" placeholder="Name">
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="validation-error" th:errors="*{name}" ></p>
                </div>

                <div class="field">
                    <input name="email" type="text" th:field="*{email}" placeholder="Email">
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="validation-error" th:errors="*{email}" ></p>
                </div>

                <div class="field">
                    <input name="password" type="password" th:field="*{password}" placeholder="Password">
                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="validation-error" th:errors="*{password}" ></p>
                </div>

                <div class="field">
                    <input name="confirmPassword" type="password" th:field="*{confirmPassword}" placeholder="Repeat password">
                    <p th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="validation-error" th:errors="*{confirmPassword}" ></p>
                </div>

                <div class="field">
                    <div class="supervisorSelection ui fluid selection dropdown">
                        <input type="hidden" name="supervisorUserId">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select Supervisor</div>
                        <div class="menu">
                            <div th:each="supervisor: ${supervisors}" class="item" data-value="${supervisor.id}" data-th-attr="data-value=${supervisor.id}" th:text="${supervisor.name}"></div>
                        </div>
                    </div>
                    <p th:if="${#fields.hasErrors('supervisorUserId')}" th:errorclass="validation-error" th:errors="*{supervisorUserId}" ></p>
                </div>

              <button class="ui submit primary button">Sign up</button>
              <div class="ui message">
                Already with us? <a href="/login">Sign in</a>
              </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('.supervisorSelection')
        .dropdown({
            clearable: true
        })
    ;
</script>
</body>
</html>