<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">User List</title>
</head>
<body>
  <div th:replace="fragments/layout :: header('students')">&nbsp;</div>

  <div class="ui segment">
    <h1>Студенты</h1>

    <!-- Student list -->
    <table class="ui very basic collapsing celled table">
      <tbody>
      <tr th:each="student: ${students}">
        <td>
          <h4 class="ui image header">
            <a th:text="${student.name}"  class="content" th:href="@{'/user/edit/' + ${student.id}}"></a>
          </h4>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>