<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">Student View</title>
</head>

<body>
  <div th:replace="fragments/layout :: header('students')">&nbsp;</div>

  <h1 class="ui center aligned header">Student: [[${student.name}]]</h1>

  <div class="ui basic segment">
    <div class="ui two column stackable grid">
      <div class="one column row">
        <div class="column">
          <div class="ui segment">
            <div class="ui statistics">
              <div class="statistic">
                <div class="value">
                  <i class="fire icon"></i> 5
                </div>
                <div class="label">
                  Exercise for last 30 days
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  220
                </div>
                <div class="label">
                  Days on Platform
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <i class="facebook messenger icon"></i>13
                </div>
                <div class="label">
                  Messages
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <i class="book icon"></i> 234
                </div>
                <div class="label">
                  Total Exercises
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="ui segment">
          <h3>Assigned Exercises:</h3>
          <div class="ui indicating progress" data-th-attr="data-percent=${exerciseProgressPercent}" id="example">
            <div class="bar"></div>
          </div>

          <p th:if="${#lists.isEmpty(assignedExercises)}">
            Nothing is assigned yet
          </p>

          <a class="ui labeled icon button" th:href="@{'/select-exercise/' + ${student.id}}" tabindex="0">
            <i class="right plus icon"></i>
            Assign Exercises
          </a>

          <table class="ui very basic collapsing celled table">
            <tbody>
            <tr th:each="assignedExercise: ${assignedExercises}">
              <td>
                <h4 class="ui image header">
                  <a th:text="${assignedExercise.name}"
                     class="content"
                     th:href="@{'/assigned-exercise/' + ${assignedExercise.id}}"></a>
                  <span class="sub header" th:text="${#temporals.format(assignedExercise.assignedAt, 'dd MMMM yyyy')}"></span>
                </h4>
              </td>
              <td>
                <span th:if="${assignedExercise.result == null}" class="ui orange tag label">New</span>
                <span th:if="${assignedExercise.result != null and assignedExercise.reviewComment == null}" class="ui green tag label">Done</span>
              </td>
              <td>
                <a class="ui compact red icon button deleteExerciseBtn"
                   data-th-attr="data-student-id=${student.id},data-exercise-id=${assignedExercise.id}">
                  <i class="trash icon"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="column">
        <div class="ui segment">
          <div class="ui small comments">
            <h3 class="ui dividing header">Direct Messages</h3>
            <p th:if="${#lists.isEmpty(messages)}">No direct messages yet</p>
            <div th:each="message: ${messages}" class="comment">
              <div class="content">
                <a class="author" th:text="${message.authorName}"></a>
                <div class="metadata">
                  <span class="date" th:text="${#temporals.format(message.timestamp, 'dd MMMM yyyy')}"></span>
                </div>
                <div class="text" th:text="${message.message}"></div>
              </div>
            </div>
            <form th:action="@{'/message/direct?returnUrl=/student/' + ${student.id}}" method="post" class="ui reply form">
              <div class="field">
                <textarea id="message" name="message"></textarea>
              </div>
              <input type="hidden" id="recipientUserId" name="recipientUserId" th:value="${student.id}">
              <button class="ui blue labeled submit icon button">
                <i class="icon edit"></i> Add Reply
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: registration date, assigned, done, reviewed exercises, acchart. Acttivity ions: assign/review/unassign exercise, message, -->
  <script>
    $('#example').progress({
      percent: $(this).attr("data-percent")
    });
    $(".deleteExerciseBtn").click(function () {
      console.log('Deleting exercise...');
      let button = $(this);
      let assignedExerciseId = button.attr('data-exercise-id');
      let studentId = button.attr('data-user-id');
      $.ajax({
        url: '/student/' + studentId + '/exercise/' + assignedExerciseId,
        type: 'DELETE',
        success: function(result) {
          showSuccessMessage("The assigned exercise was removed for the student!");
          button.parent().parent().remove();
        }
      });
    });
  </script>
</body>
</html>