<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">Student View</title>
</head>

<body>
  <div th:replace="fragments/layout :: header('students')">&nbsp;</div>

  <div class="ui segment">
    <h1>Student: [[${student.name}]]</h1>

    <h3>Assigned Exercises:</h3>

    <p th:if="${#lists.isEmpty(assignedExercises)}">
      Nothing is assigned yet
    </p>

    <a class="ui labeled icon button" th:href="@{'/select-exercise/' + ${student.id}}" tabindex="0">
      <i class="right plus icon"></i>
      Assign Exercises
    </a>

    <table class="ui very basic collapsing celled table">
      <tbody>
      <tr th:each="assignedExercise: ${assignedExercises}">
        <td>
          <h4 class="ui image header">
            <a th:text="${assignedExercise.name}"  class="content" th:href="@{'/user/edit/' + ${student.id}}"></a>
            <span class="sub header" th:text="${#temporals.format(assignedExercise.assignedAt, 'dd MMMM yyyy')}"></span>
          </h4>
        </td>
        <td>
          <a class="ui compact red icon button deleteExerciseBtn"
             data-th-attr="data-student-id=${student.id},data-exercise-id=${assignedExercise.id}">
            <i class="trash icon"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- TODO: registration date, assigned, done, reviewed exercises, activity chart. Actions: assign/review/unassign exercise, message, -->
  </div>
  <script>
    $(".deleteExerciseBtn").click(function () {
      console.log('Deleting exercise...');
      let button = $(this);
      let assignedExerciseId = button.attr('data-exercise-id');
      let studentId = button.attr('data-user-id');
      $.ajax({
        url: '/student/' + studentId + '/exercise/' + assignedExerciseId,
        type: 'DELETE',
        success: function(result) {
          showSuccessMessage("The assigned exercise was removed for the student!");
          button.parent().parent().remove();
        }
      });
    });
  </script>
</body>
</html>